VIKUNJA_API_URL=http://todoappname.domain.tld:8080/api/v1
POSTGRES_PASSWORD=d7c7f03ac38f4f3faed2da80e3ab40599dee8f41fa7805abe571f3be005ffd34
POSTGRES_USER=vikunja
VIKUNJA_FILES_MAXSIZE=50MB
VIKUNJA_CORS_ORIGINS=http://todoappname.domain.tld:8080/
VIKUNJA_DATABASE_PASSWORD=d7c7f03ac38f4f3faed2da80e3ab40599dee8f41fa7805abe571f3be005ffd34
VIKUNJA_DATABASE_HOST=vikunja-db
VIKUNJA_DATABASE_TYPE=postgres
VIKUNJA_DATABASE_USER=vikunja
VIKUNJA_SERVICE_TIMEZONE=CET
VIKUNJA_SERVICE_FRONTENDURL=http://todoappname.domain.tld:8080/
VIKUNJA_MAILER_FROMEMAIL=vikunja_noreply@domain.tld
VIKUNJA_MAILER_HOST=mail.domain.tld
VIKUNJA_MAILER_PORT=25
VIKUNJA_MAILER_ENABLED=true
